@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.modal{
    max-width: 500px;
    margin: auto;
    padding: 52px;
}
.modal{
    text-align: center;
}

.in{
    font-size: 20px;
    color: rgba(61, 61, 61, 1);
    padding-right: 12px;
}

.in span{
    font-size: 20px;
    color: rgba(217, 217, 217, 1);
}
.registr {
    font-size: 20px;
    color: rgba(70, 163, 88, 1);
    padding-left: 12px;
}
.email{
    font-weight: 300;
    font-size: 20px;
    color: rgba(61, 61, 61, 1);
    margin-bottom: 14px;
    margin-top: 14px;
}
#username{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}

#Enter_e-mail{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}

#password{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}

#password_2{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}
#phone{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}

.text1{

    margin: 16px 16px;
    font-weight: 300;
    font-size: 20px;
}

.google button{
    width: 300px;
    height: 40px;
    border: 1px solid rgba(234, 234, 234, 1);
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.facebook button{
    width: 300px;
    height: 40px;
    border: 1px solid rgba(234, 234, 234, 1);
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    border-radius: 6px;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.lock button{
    background-color: rgba(70, 163, 88, 1);
    margin-top: 20px;
    margin-bottom: 16px;
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: auto;
    justify-content: center;

}

header{
    padding-top: 31px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    align-items: center;
}

.log_btn{
  border-radius: 6px;
    background: #46a358;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.Home{
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
}


.shop{
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
}
.plant_care{
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
}
.blogs{
    display: inline-block;
    font-size: 20px;
}



header nav li a{
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
}


main .mainblock {
    display: block;
    justify-content: space-between;
    max-width: 1200px;
    height: 450px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    margin-left: 120px;
    margin-top: 95px;
}

main ul{
    display: flex;
    align-items: center;
}

.shop_btn {
     display: inline-block;
    border-radius: 6px;
    background: rgba(70, 163, 88, 1);
    padding: 7px 17px;
    justify-content: center;
    align-items: center;
    color: #a5a5a5 ;
    margin-left: 43px;
}

.img_plant {
    display: inline-block;
    width: 507px;
    height: 450px;
}

.text1 h4{
    height: 16px;
    width: 205px;
   margin-left: 43px;
}
.text2{
      padding-left: 43px;
      color: rgba(61, 61, 61, 1);
      height: 140px;
      width: 530px;
}
.text2 span{
    color: rgba(70, 163, 88, 1);
}

.text3{
    padding-left: 43px;
    width: 557px;
    height: 45px;
}

.pl2 {
    float: left;
    position: relative;
    top: 40px; left: 40px;
    width: 135px;
    height: 135px;
    margin-right: -100px;
    margin-top: 250px;
    margin-left: 53px;


}



