*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.modal{
    max-width: 500;
    margin: auto;
    padding: 52px;
}
.modal{
    text-align: center;
}

.in{
    font-size: 20px;
    color: rgba(61, 61, 61, 1);
    padding-right: 12px;
}

.in span{
    font-size: 20px;
    color: rgba(217, 217, 217, 1);
}
.registr {
    font-size: 20px;
    color: rgba(70, 163, 88, 1);
    padding-left: 12px;
}
.email{
    font-weight: 300;
    font-size: 20px;
    color: rgba(61, 61, 61, 1);
    margin-bottom: 14px;
    margin-top: 14px;
}
#username{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}

#Enter_e-mail{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}

#password{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}

#password_2{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}
#phone{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}

.text1{

    margin: 16px 16px;
    font-weight: 300;
    font-size: 20px;
}

.google button{
    width: 300px;
    height: 40px;
    border: 1px solid rgba(234, 234, 234, 1);
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.facebook button{
    width: 300px;
    height: 40px;
    border: 1px solid rgba(234, 234, 234, 1);
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    border-radius: 6px;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.lock button{
    background-color: rgba(70, 163, 88, 1);
    margin-top: 20px;
    margin-bottom: 16px;
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: auto;
    justify-content: center;

}

header{
    padding-top: 31px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    align-items: center;
}

.log_btn{
  border-radius: 6px;
    background: #46a358;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.Home{
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
}


.shop{
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
}
.plant_care{
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
}
.blogs{
    display: inline-block;
    font-size: 20px;
}

